@use "../abtracts/variables" as *;

.btn {
  // Layout
  display: flex;
  align-items: center;
  justify-content: center;
  // Typography
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  // Visual
  border-radius: 100px;
  cursor: pointer;
  // Effects
  transition: all 250ms ease;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }

  &--primary {
    // Dimensions
    width: 304px;
    // Spacing
    padding: 18px 32px;
    // Typography
    color: #fff;
    // Visual
    background: rgba(15, 97, 255, 1);
    border: 1px solid $color-primary;
    box-shadow: 0 4px 6px -1px rgba($color-primary, 0.3);

    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }

    &:hover {
      background: darken($color-primary, 5%);
      box-shadow: 0 10px 15px -3px rgba($color-primary, 0.3);
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &--outline {
    // Dimensions
    width: 132px;
    // Spacing
    padding: 18px 24px;
    // Typography
    color: $color-primary;
    // Visual
    background: #fff;
    border: 1px solid #e5e7eb;

    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }

    &:hover {
      background: #f9fafb;
      border-color: $color-primary;
    }
  }

  &--small-outline {
    // Spacing
    padding: 8px 24px;
    // Typography
    font-size: 14px;
    font-weight: 500;
    color: rgba(15, 97, 255, 1);
    // Visual
    background: transparent;
    border: 1px solid #3fa8fe;

    &:hover {
      background-color: $color-primary;
      color: #fff;
      border-color: $color-primary;
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
