// Mixins Responsive
@use "../abtracts/variables" as *;

@mixin mobile {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-xl - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}
