@use "abtracts/variables" as *;

// Base
@use "base/normalize" as *;

// Layout
@use "layout/grid" as *;

@use "components/header" as *;
@use "components/productCard" as *;
@use "components/extremeSection" as *;
@use "components/footer" as *;

@use "components/productDetail" as *;
@use "components/productIntroduction" as *;
@use "components/customDesign" as *;
@use "components/faqSection" as *;
@use "components/relatedProducts" as *;

// Utils
@use "utils/utils" as *;
