@import "abtracts/variables";

// Base
@import "base/normalize";

// Layout
@import "layout/grid";

@import "components/header";
@import "components/hero";
@import "components/sellerSection.scss";
@import "components/extremeSection";
@import "components/productCard";
@import "components/featuredProduct";
@import "components/extremeCompatible";
@import "components/customerReviews";
@import "components/collectionsGrid";
@import "components/footer";

// Shop All Page Components
@import "components/shopHero";
@import "components/shopCategories";
@import "components/shopControls";
@import "components/shopGrid";
@import "components/pagination";
@import "components/shopBenefits";
@import "components/shopSearch";

// Utils
@import "utils/utils";

.test {
  position: relative;
}

.content {
  position: absolute;
  z-index: 10;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}
