
@import 'abtracts/variables';

// Base
@import 'base/normalize';

// Layout
@import 'layout/grid';


@import 'components/header';
@import 'components/hero';
@import 'components/sellerSection.scss';
@import 'components/extremeSection';
@import 'components/productCard';
@import 'components/featuredProduct';
@import 'components/extremeCompatible';
@import 'components/customerReviews';
@import 'components/collectionsGrid';
@import 'components/footer';



// Utils
@import 'utils/utils';

